{% extends 'base.html.twig' %}

{% block title %}BidCardCoin{% endblock %}

{% block body %}
    <h1>
        BidCardCoin ! <i class="fad fa-gavel" style="color: saddlebrown"></i>
    </h1>

    <h2>Bienvenue sur l'application qui va permettre de gérer les enchères BidCardCoin</h2>
    <h3>Gabriel de la Biche - B2 C1 - BTS SIO</h3>
    <br>
    <h4>
        Worflow: <br>-Création d'un lieu <br>
                 -Création d'une ou plusieurs ventes <br>
                 -Crétion d'un ou plusieurs lots <br>
                 -Création de produits <br>
                 -Ventes affichées sur l'accueil selon la date actuelle <br>
                 -Possibilité d'enchérir sur un lot <br>
    </h4>
    <br>
    <div style="text-align: center;"><h3>Voici la liste des ventes en cours</h3></div>
    <br>

    <table class="table">
        <thead>
        <tr>
            <th>Attribute</th>
            <th>Date_fin</th>
            <th>Heure_fin</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for vente in ventes %}
            <tr>
                <td>{{ vente.attribute }}</td>
                <td>{{ vente.dateFin ? vente.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ vente.heureFin ? vente.heureFin|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('vente_show', {'id': vente.id}) }}"><button type="button" class="btn btn-info">voir les lots</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Il n'y a pas de ventes en cours</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}