{% extends 'base.html.twig' %}

{% block title %}BidCardCoin{% endblock %}

{% block body %}
    <h1>
        BidCardCoin ! <i class="fad fa-gavel"></i>
    </h1>

    <h2>Bienvenue sur l'application qui va permettre de gérer les enchères BidCardCoin</h2>
    <h3>Gabriel de la Biche - B2 C1 - BTS SIO</h3>



{% endblock %}